@page
@model SelectPeopleModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form method="post">

    <div>
        <select name="selecciona-persona" id="SeleccionaPersona" class="col-lg-3">
        </select>
    </div>
</form>

<p>Use this area to provide additional information.</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#SeleccionaPersona').select2({
                dataType: 'json',
                ajax: {
                    url: function (params) {
                        return '/api/ApiGent/search/' + params.term;
                    }
                }
            });
       });
  </script>
}